html {
  box-sizing: border-box;
  font-family: "Lato", "Lucida Grande", "Lucida Sans Unicode", Tahoma,
  Sans-Serif;
  font-weight: normal;
  color: #272727;
  text-shadow: 0 2px 0 rgba(0, 0, 0, 0.07);
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
  margin: 0;
  font-size: 1.5em;
}

/* Codepen */

.codepen {
    display: grid;
    grid-template-rows: auto 1fr 1fr auto;
    height: 100vh;
    color: #FFF;
}

/* Header */

.codepen .pen {
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-flow: column;
    grid-gap: 10px;
    align-items: center;
    background: #000;
    color: #FFF;
    padding: 10px;
    border-bottom: 5px solid #343436;
}

/* Editor */

.codepen .code {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    background: #1B2B34;
    padding: 0 5px 5px 0;
}

.editor {
    display: grid;
    grid-template-rows: auto 1fr;
}

.editor__header {
    display: grid;
    grid-template-columns: auto 1fr auto;
    align-items: center;
    grid-gap: 5px;
    padding: 5px;
    background: rgba(0,0,0,0.1);
}

.editor__code {
    display: grid;
    grid-template-columns: auto 1fr;
}

.editor__gutter {
    padding: 0 10px;
}

.editor__number {
    display: block;
}

.editor__input {
    background: none;
    color: #FEDD31;
    resize: none;
    border: 0;
    font-size: 15px;
    line-height: 17px;
}

/* Preview */

.codepen .preview {
    display: grid;
    align-items: stretch;
    justify-items: stretch;
}

/* Settings */
.codepen .settings {
    background: #000;
    padding: 5px;
    border-top: 1px solid #343436;
}

/* Buttons */

.button {
    background: #343436;
    color: #FFF;
    font-size: 15px;
    padding: 10px;
    border: 0;
    border-radius: 5px;
    position: relative;
}

.button--small {
    font-size: 12px;
    padding: 4px;
}

.button--dirty:before {
    content: '';
    background: #FFC600;
    width: calc(100% - 6px);
    height: 2px;
    position: absolute;
    top: 3px;
    left: 3px;
}