:root {
    --yellow: #ffc600;
}

html {
    color: #444;
    font-family: Cambria, Cochin, Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
}

p {
    line-height: 1.8;
}

img {
    max-width: 100%;
}

a {
    color: black;
    text-decoration: underline wavy var(--yellow);
}

h1,
h2 {
    font-size: 80px;
    font-style: italic;
    font-weight: 100;
    margin: 0;
}

/* post */

.post {
    max-width: 992px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-gap: 10px 50px;
}

.post > * {
    grid-column: 2 / span 1;
}

/* figure */

.post figure {
    grid-column: 1 / -1;
    margin: 0;
}

.post figcaption {
    font-size: 11px;
}

/* blockquote */

.post blockquote {
    grid-column: 1 / -1;
    margin: 0;
    font-size: 60px;
    font-style: italic;
    text-align: center;
}

/* tips */

.tip {
    background: #FAFAFA;
    padding: 10px;
}

.tip-left {
    grid-column: 1 / span 1;
    text-align: right;
    border-right: 2px solid var(--yellow);
}

.tip-right {
    grid-column: 3 / span 1;
    text-align: left;
    border-left: 2px solid var(--yellow);
}